body {
  background-color: #efefef;
}
.registro__form {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .registro__form {
    width: 60%;
  }
}
.registro__titulo {
  text-shadow: 5px 5px 4px rgba(0, 0, 0, 0.25);
}

.registro__input {
  box-shadow: inset 1px 1px 4px rgba(0, 0, 0, 0.25);
}

.registro__btn {
  display: flex;
  align-items: center;
  background-color: #ff8c5d;
  border: 1px solid #ffffff;
  border-radius: 1.8rem;
  padding: 0px 0px 2px 0px;
  color: #ffffff;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.2s ease;
  width: auto;
}

@media screen and (min-width: 768px) {
  .registro__btn {
    width: auto;
  }
}
.registro__btn:hover {
  background-color: rgb(227, 86, 29);
}
