@use "../base/variables" as var;
@use "../base/mixins" as m;

.buscaVuelos {
  width: 80%;
  border: 3px solid var.$azul;
  border-radius: 10px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.25);
  &__aeropuertos {
    width: 80%;
    @include m.desktop {
      width: 45%;
    }
  }
  &__fechas {
    width: 80%;
    @include m.desktop {
      width: 35%;
    }
  }
  &__numPasajeros {
    width: 80%;
    @include m.desktop {
      width: 10%;
    }
  }
  &__buscar {
    width: 80%;
    @include m.desktop {
      width: 5%;
    }
  }
  &__input {
    border: 1.8px solid var.$azul;
    border-radius: 10px;
  }
  &__icono {
    border: 1px solid var.$azul;
    border-radius: 10px;
  }
  &__cambiaSitios {
    width: 35px;
    @include m.desktop {
      width: 60px;
    }
    img {
      max-width: 100%;
      display: block;
    }
  }
  &__buscar {
    input {
      width: 100%;
      @include m.desktop {
        width: auto;
      }
    }
  }

  &__btn {
    @include m.btn(var.$naranja, var.$blanco);
  }
  &__btn:hover {
    background-color: rgb(227, 86, 29);
  }

  &__fechas__input {
    border: 1px solid black;
    border-radius: 10px;
  }
}
