@use "../base/variables" as var;
@use "../base/mixins" as m;

.crud {
  background-color: var.$fondoCrud;
  &__header {
    width: 100%;
    &__logo {
      max-width: 100px;
      transform: rotate(45deg);
    }
    &__link {
      font-family: var.$title-font;
      font-size: 1.6rem;
      color: var.$blanco;
    }

    &__link:hover {
      color: var.$naranja;
    }

    &__avatar {
      width: 40px;
      border-radius: 10px;
    }
  }

  &__tabla {
    width: 90%;
    box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.25);
    &__btn {
      width: fit-content;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  td {
    width: 250px;
  }

  &__modal {
    @include m.tablet {
      min-width: 825px;
    }
  }

  &__input {
    background-color: var.$azul_claro;
    border: 0;
    &__datosPersonales {
      background-color: var.$azul_claro;
      border: 0;
      box-shadow: 4px 4px 3px 0px rgba(0, 0, 0, 0.25);
    }
  }

  &__input:hover,
  &__input:focus {
    outline: none;
  }

  &__btn__cancelar {
    background-color: var.$azul_claro;
  }
  &__btn__cancelar:hover {
    background-color: #ccd8e0;
  }
  &__btn__datosPersonales {
    margin-top: 35px;
  }

  &__datosPersonales {
    width: 90%;
    box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.25);

    @include m.desktop {
      width: 50%;
    }
  }
}
.password__ojo {
  font-size: 2rem;
  padding: 0px 10px;
  @include m.mobile {
    font-size: 2.5rem;
  }
  &__datosPersonales {
    font-size: 2.5rem;
    box-shadow: 4px 4px 3px 0px rgba(0, 0, 0, 0.25);
  }
}

.selectpicker_option:hover {
  background-color: #f1faff;
  color: #69c6fa;
}
.btn.dropdown-toggle {
  border: 0;
  background-color: white;
  font-size: 1.3rem; /* Cambia esto al tamaño de fuente que quieras */
}
.dropdown-menu {
  transform: translate(-160px, 10px);
}

.dropdown-item:hover {
  color: var.$naranja;
}
