@font-face {
  font-family: "Inter";
  src: url(../../assets/fonts/Inter-Regular.ttf);
}
@font-face {
  font-family: "Bodoni Moda";
  src: url(../../assets/fonts/BodoniModa_48pt-ExtraBold.ttf);
}
@font-face {
  font-family: "Contrail One";
  src: url(../../assets/fonts/ContrailOne-Regular.ttf);
}
.buscaVuelos {
  width: 80%;
  border: 3px solid #325162;
  border-radius: 10px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.25);
}

.buscaVuelos__aeropuertos {
  width: 80%;
}

@media screen and (min-width: 1024px) {
  .buscaVuelos__aeropuertos {
    width: 45%;
  }
}
.buscaVuelos__fechas {
  width: 80%;
}

@media screen and (min-width: 1024px) {
  .buscaVuelos__fechas {
    width: 35%;
  }
}
.buscaVuelos__numPasajeros {
  width: 80%;
}

@media screen and (min-width: 1024px) {
  .buscaVuelos__numPasajeros {
    width: 10%;
  }
}
.buscaVuelos__buscar {
  width: 80%;
}

@media screen and (min-width: 1024px) {
  .buscaVuelos__buscar {
    width: 5%;
  }
}
.buscaVuelos__input {
  border: 1.8px solid #325162;
  border-radius: 10px;
}

.buscaVuelos__icono {
  border: 1px solid #325162;
  border-radius: 10px;
}

.buscaVuelos__cambiaSitios {
  width: 35px;
}

@media screen and (min-width: 1024px) {
  .buscaVuelos__cambiaSitios {
    width: 60px;
  }
}
.buscaVuelos__cambiaSitios img {
  max-width: 100%;
  display: block;
}

.buscaVuelos__buscar input {
  width: 100%;
}

@media screen and (min-width: 1024px) {
  .buscaVuelos__buscar input {
    width: auto;
  }
}
.buscaVuelos__btn {
  display: flex;
  align-items: center;
  background-color: #ff8c5d;
  border: 1px solid #ffffff;
  border-radius: 1.8rem;
  padding: 0px 0px 2px 0px;
  color: #ffffff;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.2s ease;
  width: auto;
}

@media screen and (min-width: 768px) {
  .buscaVuelos__btn {
    width: auto;
  }
}
.buscaVuelos__btn:hover {
  background-color: rgb(227, 86, 29);
}

@font-face {
  font-family: "Inter";
  src: url(../../assets/fonts/Inter-Regular.ttf);
}
@font-face {
  font-family: "Bodoni Moda";
  src: url(../../assets/fonts/BodoniModa_48pt-ExtraBold.ttf);
}
@font-face {
  font-family: "Contrail One";
  src: url(../../assets/fonts/ContrailOne-Regular.ttf);
}
.oferta {
  background-image: linear-gradient(105deg, #ff4900 55%, #ffa07a 100%);
  border-radius: 35px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.25);
  width: 90%;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 80px;
}

@media screen and (min-width: 1024px) {
  .oferta {
    width: 50%;
  }
}
.oferta h2,
.oferta .h2 {
  font-family: "Contrail One", sans-serif;
}

.oferta__img {
  border-radius: 35px;
}

.oferta__img--bolonia,
.oferta__img--comida {
  box-shadow: 4px 4px 6px 2px rgba(0, 0, 0, 0.5);
}

.oferta__textoDescuento {
  text-shadow: 0px 10px 5px rgba(0, 0, 0, 0.25);
}

@font-face {
  font-family: "Inter";
  src: url(../../assets/fonts/Inter-Regular.ttf);
}
@font-face {
  font-family: "Bodoni Moda";
  src: url(../../assets/fonts/BodoniModa_48pt-ExtraBold.ttf);
}
@font-face {
  font-family: "Contrail One";
  src: url(../../assets/fonts/ContrailOne-Regular.ttf);
}
.vuelosRecomendados {
  width: 70%;
}

.vuelosRecomendados img {
  transition-duration: 1s;
}

.vuelosRecomendados img:hover {
  transform: scale(1.2);
}

.vuelosRecomendados__grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(6, 1fr);
  gap: 2rem;
}

.vuelosRecomendados__grid__vuelo1 {
  grid-column: 1/13;
  grid-row: 1/2;
}

@media screen and (min-width: 768px) {
  .vuelosRecomendados__grid__vuelo1 {
    grid-column: 1/7;
    grid-row: 1/3;
  }
}
@media screen and (min-width: 1024px) {
  .vuelosRecomendados__grid__vuelo1 {
    grid-column: 1/5;
    grid-row: 1/4;
  }
}
.vuelosRecomendados__grid__vuelo2 {
  grid-column: 1/13;
  grid-row: 2/3;
}

@media screen and (min-width: 768px) {
  .vuelosRecomendados__grid__vuelo2 {
    grid-column: 7/13;
    grid-row: 1/3;
  }
}
@media screen and (min-width: 1024px) {
  .vuelosRecomendados__grid__vuelo2 {
    grid-column: 5/9;
    grid-row: 1/4;
  }
}
.vuelosRecomendados__grid__vuelo3 {
  grid-column: 1/13;
  grid-row: 3/4;
}

@media screen and (min-width: 768px) {
  .vuelosRecomendados__grid__vuelo3 {
    grid-column: 1/7;
    grid-row: 3/5;
  }
}
@media screen and (min-width: 1024px) {
  .vuelosRecomendados__grid__vuelo3 {
    grid-column: 9/13;
    grid-row: 1/4;
  }
}
.vuelosRecomendados__grid__vuelo4 {
  grid-column: 1/13;
  grid-row: 4/5;
}

@media screen and (min-width: 768px) {
  .vuelosRecomendados__grid__vuelo4 {
    grid-column: 7/13;
    grid-row: 3/5;
  }
}
@media screen and (min-width: 1024px) {
  .vuelosRecomendados__grid__vuelo4 {
    grid-column: 1/5;
    grid-row: 4/7;
  }
}
.vuelosRecomendados__grid__vuelo5 {
  grid-column: 1/13;
  grid-row: 5/6;
}

@media screen and (min-width: 768px) {
  .vuelosRecomendados__grid__vuelo5 {
    grid-column: 1/7;
    grid-row: 5/7;
  }
}
@media screen and (min-width: 1024px) {
  .vuelosRecomendados__grid__vuelo5 {
    grid-column: 5/9;
    grid-row: 4/7;
  }
}
.vuelosRecomendados__grid__vuelo6 {
  grid-column: 1/13;
  grid-row: 6/7;
}

@media screen and (min-width: 768px) {
  .vuelosRecomendados__grid__vuelo6 {
    grid-column: 7/13;
    grid-row: 5/7;
  }
}
@media screen and (min-width: 1024px) {
  .vuelosRecomendados__grid__vuelo6 {
    grid-column: 9/13;
    grid-row: 4/7;
  }
}
@font-face {
  font-family: "Inter";
  src: url(../../assets/fonts/Inter-Regular.ttf);
}
@font-face {
  font-family: "Bodoni Moda";
  src: url(../../assets/fonts/BodoniModa_48pt-ExtraBold.ttf);
}
@font-face {
  font-family: "Contrail One";
  src: url(../../assets/fonts/ContrailOne-Regular.ttf);
}
.resenas {
  margin: auto;
  margin-top: 50px;
  width: 70%;
}

.resenas__container {
  width: 60%;
}

.resenas__titulo,
.resenas__opiniones {
  border: 1px solid black;
}

@font-face {
  font-family: "Inter";
  src: url(../../assets/fonts/Inter-Regular.ttf);
}
@font-face {
  font-family: "Bodoni Moda";
  src: url(../../assets/fonts/BodoniModa_48pt-ExtraBold.ttf);
}
@font-face {
  font-family: "Contrail One";
  src: url(../../assets/fonts/ContrailOne-Regular.ttf);
}
.reservar__title {
  font-style: italic;
  text-shadow: 1px 1px 1px #a7eeee, 2px 2px 1px #c38ce5;
}

.reservar__razones--1 {
  width: 100%;
}

@media screen and (min-width: 1024px) {
  .reservar__razones--1 {
    max-width: 410px;
  }
}
.reservar__razones--2 {
  width: 100%;
}

@media screen and (min-width: 1024px) {
  .reservar__razones--2 {
    max-width: 410px;
  }
}
.reservar__razones--3 {
  width: 100%;
}

@media screen and (min-width: 1024px) {
  .reservar__razones--3 {
    max-width: 410px;
  }
}
.verificado {
  width: 20px;
}
