@use "../base/variables" as var;
@use "../base/mixins" as m;

.reservar_asiento {
  width: 90%;
  @include m.desktop {
    width: 50%;
  }
  &__btn {
    @include m.btn(var.$naranja, var.$blanco);
  }
}

button {

  &.ocupado {
    background-color: var.$gris;
    cursor: not-allowed;
  }
}

.accordion {
  width: 20%;
  min-width: 250px;
}

.accordion-header button:focus {
  outline: none;
  box-shadow: none;
  background-color: rgb(247, 247, 247);
}
