@use "../base/variables" as var;
@use "../base/mixins" as m;

td {
  cursor: pointer;
  transition: background-color 0.3s;

  &.ocupado {
    background-color: var.$gris;
    cursor: not-allowed;
  }
}

.accordion-header button:focus{
  outline: none;
  box-shadow: none;
  background-color: rgb(247, 247, 247);
}
