<div class="footer__container m-auto" id="footer">
  <div
    class="footer__enlaces d-flex flex-column flex-sm-row justify-content-evenly align-items-center m-auto"
  >
    <div class="d-flex flex-column align-items-center mt-5">
      <h4 class="text-white fw-bold">Enlaces rápidos</h4>
      <ul class="list-unstyled d-flex flex-column align-items-center">
        <li class="mt-3">
          <a class="text-white text-decoration-none fs-5" href="index.html#vuelosRecomendados"
            >Vuelos recomendados</a
          >
        </li>
        <li class="mt-3">
          <a class="text-white text-decoration-none fs-5" href="index.html#resenas">Reseñas</a>
        </li>
        <li class="mt-3">
          <a class="text-white text-decoration-none fs-5" href="index.html#ofertas">Ofertas</a>
        </li>
        <li class="mt-3">
          <a class="text-white text-decoration-none fs-5" href="index.html#buscaVuelos"
            >Buscar vuelo</a
          >
        </li>
      </ul>
    </div>
    <div
      class="footer__avion_mundo d-flex justify-content-center align-items-center"
    >
      <img
        src="../../../build/assets/media/avion_mundo.png"
        alt="avion_mundo"
        class="img-fluid w-75"
      />
    </div>
    <div class="d-flex flex-column align-items-center">
      <h4 class="text-white fw-bold">Políticas y términos</h4>
      <ul class="list-unstyled d-flex flex-column align-items-center">
        <li class="mt-3">
          <a class="text-white text-decoration-none fs-5" href=""
            >Pólitica de privacidad</a
          >
        </li>
        <li class="mt-3">
          <a class="text-white text-decoration-none fs-5" href=""
            >Términos y condiciones</a
          >
        </li>
        <li class="mt-3">
          <a class="text-white text-decoration-none fs-5" href=""
            >Reembolsos y cancelaciones</a
          >
        </li>
      </ul>
    </div>
  </div>
  <div
    class="d-flex flex-md-row flex-column-reverse justify-content-lg-evenly justify-content-between align-items-center"
  >
    <div
      class="footer__empresa d-flex align-items-center text-white me-5 mt-md-0 mt-5"
    >
      <div class="footer__logo">
        <img
          class="img-fluid"
          src="../../../build/assets/media/logo.png"
          alt="logo"
        />
      </div>
      <h2 class="text-white footer__nombre text-start">
        INTERSTELLAR AIRLINES
      </h2>
    </div>
    <div
      class="d-flex flex-xl-row flex-column align-items-center justify-content-center mt-md-0 mt-5"
    >
      <div class="footer__iconos d-flex">
        <div class="footer__icono mx-3">
          <img
            class="img-fluid"
            src="../../../build/assets/media/icons8-facebook-nuevo-50.png"
            alt="facebook"
          />
        </div>
        <div class="footer__icono mx-3">
          <img
            class="img-fluid"
            src="../../../build/assets/media/icons8-twitterx-50.png"
            alt="twitter"
          />
        </div>
        <div class="footer__icono mx-3">
          <img
            class="img-fluid"
            src="../../../build/assets/media/icons8-instagram-50.png"
            alt="instagram"
          />
        </div>
        <div class="footer__icono mx-3">
          <img
            class="img-fluid"
            src="../../../build/assets/media/icons8-gmail-nuevo-50.png"
            alt="gmail"
          />
        </div>
        <div class="footer__icono mx-3">
          <img
            class="img-fluid"
            src="../../../build/assets/media/icons8-linkedin-50.png"
            alt="linkedin"
          />
        </div>
      </div>
      <div
        class="d-flex justify-content-center align-items-center ms-xl-5 ms-0 mt-xl-0 mt-3"
      >
        <div class="footer__store mx-0 me-2 mx-lg-4">
          <img
            src="../../../build/assets/media/appstore.jpg"
            alt="appStore"
            class="img-fluid"
          />
        </div>
        <div class="footer__store">
          <img
            src="../../../build/assets/media/playstore.png"
            alt="playStore"
            class="img-fluid"
          />
        </div>
      </div>
    </div>
  </div>
  <p class="text-white fw-light text-center fs-4 me-5 mt-5">
    Interstellar Airlines Copyright 2024 &copy;
  </p>
</div>
